@import './material-icons.scss';
@import './vars.scss';

@import './views/components/Dialog.scss';
@import './views/components/Fab.scss';
@import './views/components/Header.scss';
@import './views/components/Messages.scss';
@import './views/components/Sidebar.scss';
@import './views/pages/Home.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.fit-parent {
  width: 100%;
  height: 100%;
}

.no-display {
  display: none !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/**
  Custom Checkbox
**/
$transition-speed: 200ms;
$size: 34px;
$circle-margin: 4px;
$circle-size: $size - 2 * $circle-margin;

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: $size;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: $transition-speed;
}

.slider::before {
  position: absolute;
  content: "";
  height: $circle-size;
  width: $circle-size;
  left: $circle-margin;
  bottom: $circle-margin;
  background-color: white;
  transition: $transition-speed;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX($circle-size);
}

/* Rounded sliders */
.slider.round {
  border-radius: $size;
}

.slider.round::before {
  border-radius: 50%;
}
