$default-margin: 16px;
$header-height: 48px;
$primary-color: rgb(250, 250, 250);
$light-grey: #444;
$dark-grey: #222;
$accent-color: rgb(53, 99, 199);
$fab-size: 60px;
$default-radius: 6px;
$dismiss-color: rgba(168, 168, 168, 0.459);
$accept-color: white;
