@import '../../vars.scss';

.fab {
  cursor: pointer;
  position: fixed;
  width: $fab-size;
  height: $fab-size;
  border-radius: 100%;
  background-color: $primary-color;
  color: $dark-grey;
  z-index: 998;

  &.fab--bottom-right {
    bottom: $default-margin;
    right: $default-margin;

    transition: bottom 100ms ease-in;

    &.hidden {
      bottom: -$fab-size;
    }
  }

  &.fab--middle-right {
    bottom: $default-margin * 2 + $fab-size;
    right: $default-margin;

    transition: right 100ms ease-in;

    &.hidden {
      right: -$fab-size;
    }
  }

  &.enabled {
    background-color: $accent-color;
    color: $primary-color;
  }

  > .material-icons {
    width: $fab-size;
    height: $fab-size;
    text-align: center;
    line-height: $fab-size;
  }
}
