.sidebar {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-y: auto;
  z-index: 999;
  left: 0;

  transition: left 100ms ease-out;

  &.hidden {
    left: -100vw;
  }

  width: 100%;
  min-height: 100%;
  padding: $default-margin;
  padding-top: $default-margin * 2 + $header-height;

  background-color: $primary-color;

  > .sidebar-region {
    width: 100%;

    > h2 {
      margin-top: $default-margin;
    }

    &.sidebar-region--config {

      > .config-line {
        margin: $default-margin 0;
        display: flex;
        justify-content: space-between;

        > .config-text {
          margin-right: $default-margin;
        }
      }
    }

    &.sidebar-region--license {
      > .license-line {
        margin: $default-margin 0;

        &.license-line--icon {
          display: flex;
          flex-direction: column;
          align-items: center;

          > span {
            font-size: 1.1em;
          }

          > .app-icon {
            background-image: url('favicon.svg');
            background-size: contain;
            $auto-size: 50vmin;
            $max-size: 256px;
            width: $auto-size;
            height: $auto-size;
            max-width: $max-size;
            max-height: $max-size;
          }
        }
      }
    }
  }
}
